node_modules/
.local/
.sub/
/dist/
/dist_ex/
/release/
/build/
/dist_ex/

package-lock.json
yarn-error.log

/.vscode/settings.json
/.vscode/launch.json
/.VSCodeCounter

tsconfig.tsbuildinfo
.node-version

.~*.csv#




