{
  "env": {
    "myCompilerBaseDirectory__windows_example": "C:/tools/avr8-gnu-toolchain-win32_x86",
    "myCompilerExecutablePath__windows_example": "C:/tools/avr8-gnu-toolchain-win32_x86/bin/avr-gcc.exe",
    "myAvrCompilerBaseDirectory": "/usr/local/Cellar/avr-gcc/9.3.0",
    "myAvrCompilerExecutablePath": "/usr/local/bin/avr-gcc",
    "myCompilerExecutablePath": "/usr/local/bin/arm-none-eabi-gcc",
    "picoSdkRoot": "./deps/rp2040/pico_sdk",
    "picoLocalDir": "./deps/rp2040/pico_sdk_local"
  },
  "configurations": [
    {
      "name": "Mac",
      "includePath": [
        "src/modules/km0/common",
        "src/modules/km0/device_io",
        "src/modules/km0/keyboard",
        "src/projects/dev/dummy_header_provider_project",
        "${myAvrCompilerBaseDirectory}/avr/include",
        "${picoLocalDir}/include",
        // "${picoLocalDir}/include/boards",
        "${picoSdkRoot}/src/rp2040/include",
        "${picoSdkRoot}/src/common/include",
        "${picoSdkRoot}/src/rp2_common/include",
        "${picoSdkRoot}/lib/tinyusb/src",
        "${picoSdkRoot}/lib/tinyusb/src/common",
        "${picoSdkRoot}/lib/tinyusb/hw",
        "${picoSdkRoot}/src/rp2_common/rp2040_usb_device_enumeration/include"
      ],
      "defines": [
        "_DEBUG",
        "UNICODE",
        "_UNICODE",
        "__AVR_ATmega32U4__",
        "EXTR_PROJECT_RELEASE_BUILD_REVISION=0",
        "EXTR_IS_RESOURCE_ORIGIN_ONLINE=0",
        "EXTR_VARIATION_NAME=\"default\"",
        "F_CPU=8000000",
        "TARGET_MCU_ATMEGA",
        "TARGET_MCU_RP2040",
        "CFG_TUSB_MCU=OPT_MCU_RP2040",
        "SINGLEWIRE_RP2040_PIN_SIGNAL=GP0"
      ],
      // "compilerPath": "${myAvrCompilerExecutablePath} -mmcu=atmega32u4",
      "compilerPath": "${myCompilerExecutablePath}",
      "cStandard": "c11",
      "cppStandard": "c++17",
      "intelliSenseMode": "gcc-arm",
      "browse": {
        "path": [
          "src",
          "${myAvrCompilerBaseDirectory}/avr/include",
          "${picoSdkRoot}"
        ],
        "limitSymbolsToIncludedHeaders": true,
        "databaseFilename": ""
      }
    }
  ],
  "version": 4
}
