{
  "env": {
    "myCompilerExecutablePath": "/usr/local/bin/arm-none-eabi-gcc",
    "picoSdkOuterDir": "./deps/rp2040/pico_sdk_import",
    "picoSdkRoot": "./deps/rp2040/pico_sdk_import/pico_sdk",
    "tinyusbRoot": "./deps/rp2040/pico_sdk_import/tinyusb",
    "picoLocalDir": "./deps/rp2040/pico_sdk_local"
  },
  "configurations": [
    {
      "name": "ConfigRP",
      "includePath": [
        "src/modules",
        "src/projects/__stencils/dummy_header_provider_project",
        "${picoLocalDir}/include",
        "${picoSdkOuterDir}",
        "${picoSdkRoot}/src/rp2040/include",
        "${picoSdkRoot}/src/common/include",
        "${picoSdkRoot}/src/rp2_common/include",
        "${tinyusbRoot}/src",
        "${tinyusbRoot}/src/common",
        "${picoSdkRoot}/src/rp2_common/rp2040_usb_device_enumeration/include"
      ],
      "defines": [
        "IDE_SYNTAX_CHECK",
        "EXTR_KERMITE_PROJECT_RELEASE_BUILD_REVISION=0",
        "EXTR_KERMITE_IS_RESOURCE_ORIGIN_ONLINE=0",
        "EXTR_KERMITE_VARIATION_NAME=\"default\"",
        "KERMITE_TARGET_MCU_RP2040",
        "CFG_TUSB_MCU=OPT_MCU_RP2040",
        "KM0_RP_SINGLEWIRE__PIN_SIGNAL=GP0"
      ],
      "compilerPath": "${myCompilerExecutablePath}",
      "cStandard": "c11",
      "cppStandard": "c++17",
      "intelliSenseMode": "gcc-arm",
      "browse": {
        "path": ["src", "${picoSdkRoot}"],
        "limitSymbolsToIncludedHeaders": true,
        "databaseFilename": ""
      }
    }
  ],
  "version": 4
}
