name: Firmware Deployment

on:
  push:
    branches: [variants, variants-dev]
    paths:
      - ".github/workflows/firmware_deployment.yml"
      - "firmware/ci/**/*.ts"
      - "firmware/Makefile"
      - "firmware/workers/*.mk"
      - "firmware/src/**"
      - "firmware/project_packages/**"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: install avr-gcc
        run: |
          mkdir -p ~/tools
          wget https://app.kermite.org/toolset/avr-gcc-11.1.0-x64-linux.tar.bz2
          tar -C ~/tools -xf avr-gcc-11.1.0-x64-linux.tar.bz2
          echo `echo ~/tools/avr-gcc-11.1.0-x64-linux/bin` >> $GITHUB_PATH

      - name: install arm-none-eabi-gcc
        uses: fiam/arm-none-eabi-gcc@v1
        with:
          release: "10-2020-q4"

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - uses: bahmutov/npm-install@v1
        with:
          working-directory: ./firmware/ci

      - name: Checkout store repo
        uses: actions/checkout@v2
        with:
          repository: kermite-org/KermiteResourceStore
          path: "./firmware/KRS"
          token: ${{ secrets.API_TOKEN_GITHUB }}

      - name: Check Firmware IDs
        run: yarn checkFirmwareIds
        working-directory: ./firmware/ci

      - name: Update All Project Distributions
        run: yarn updateAllProjectDistributions
        working-directory: ./firmware/ci

      - name: Push resources to KermiteResourceStore
        uses: cpina/github-action-push-to-another-repository@master
        if: github.ref == 'refs/heads/variants'
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: "./firmware/KRS"
          destination-github-username: "github-actions[bot]"
          destination-repository-username: "kermite-org"
          destination-repository-name: "KermiteResourceStore"
          target-branch: "master"
          user-email: 41898282+github-actions[bot]@users.noreply.github.com
          commit-message: "resources updated in github actions"
